link(rel='stylesheet', type="text/css", href='/bower_components/bootstrap/dist/css/bootstrap.min.css' async)
link(rel='stylesheet', type="text/css", href='/bower_components/angular-bootstrap/ui-bootstrap-csp.css' async)
link(rel='stylesheet', type="text/css", href='/bower_components/font-awesome/css/font-awesome.min.css' async)
link(rel='stylesheet', type="text/css", href='/bower_components/animate.css/animate.min.css' async)
link(rel='stylesheet', type="text/css", href='/bower_components/angular-chips/dist/main.css' async)
link(rel='stylesheet', type="text/css", href='/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.css',async)
link(rel='stylesheet', type="text/css", href='/bower_components/animate.css/animate.min.css',async)
link(rel='stylesheet', type="text/css", href="/bower_components/angular-loading-bar/build/loading-bar.min.css",async)

link(rel='stylesheet', type="text/css", href='/systems/stylesheets/progress.css',async)
link(rel="stylesheet", type="text/css", href="/systems/stylesheets/font.css",async)
link(rel="stylesheet", type="text/css", href="/systems/stylesheets/styles.css",async)