extends  ../../backoffice_layout

block content
    section.content-header
        h1.text-gray Setting
        ol.breadcrumb.hidden-xs.hidden-sm
            li
                a.text-gray(href='/backoffice')
                    i.fa.fa-dashboard
                    |  Home
    section.content(ng-controller="SettingController")
        include ./partial/navbar
        .row
            .col-xs-12
                include ./partial/mid