extends ../../backoffice_layout

block content
    section.content-header
        .h5.text-gray Analysis
        ol.breadcrumb.hidden-xs.hidden-sm
            li
                a.text-gray(href='/backoffice')
                    i.fa.fa-dashboard
                    |  Home
    section.content(ng-controller="AnalysisController")
        include partial/navbar
        .box.box-info
            .box-header.with-border
                div
                    .box-tools.pull-right
                        button.btn.btn-sm.btn-box-tool(type='button', data-widget='collapse')
                            i.fa.fa-minus
                include ../../systems/common/next_prev
            .box-body
                .table-responsive(style="height:70vh;overflow:scroll;")
                    table.table.table-striped
                        thead
                            tr
                                th time
                                th address
                                th headers
                                th referer
                        tbody
                            tr.gradeX(ng-repeat="log in logs")
                                td {{log.content.time | date:medium}}
                                td {{log.content.address}}
                                td {{log.content.headers | length:36}}
                                td {{log.content.referer}}
            .box-footer.clearfix
                div(ng-bind="message")



