extends ../../../backoffice_layout

block content
    section.content-header
        h1.text-gray Player
        ol.breadcrumb.hidden-xs.hidden-sm
            li
                a.text-gray(href='/backoffice')
                    i.fa.fa-dashboard
                    |  Home
    section.content(ng-controller="HtmlPlayerController")
        include partial/navbar
        include partial/form